{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:change' user_obj.pk %}">Edit...</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "accounts:password_change" %}">Change password</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ user_obj.get_full_name|default:user_obj.username }} profile page.</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% else %}
        <img src="{% static 'img/avatar.png' %}" style="height: 200px; width: 200px;" class="card-img" alt="Pusto">
    {% endif %}
    <p>Login: {{ user_obj.username }}</p>
    <p>Name: {{ user_obj.first_name }}</p>
    <p>Surname: {{ user_obj.last_name }}</p>
    <p>Birth date: {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>
    <p>Email: {{ user_obj.email }}</p>

    {% if user.is_authenticated %}
        <h2 class="text-center">Friends:</h2>
        {% for friend in friends %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {% if friend.friend.avatar %}
                            <img src="{{ friend.friend.avatar.url }}" style="height: 150px" class="card-img" alt="Avatar">
                        {% else %}
                            <img src="{% static 'img/avatar.png' %}" style="height: 150px" class="card-img" alt="Pusto">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'accounts:detail' friend.friend.pk %}">{{ friend.friend.username }}</a></h5>
                            <p class="card-text"><small class="text-muted">Имя: {{ friend.friend.first_name }}</small></p>
                            <p class="card-text"><small class="text-muted">Фамилия: {{ friend.friend.last_name }}</small></p>
                            {% if user.is_authenticated %}
                                <p>
                                    <a class="remove" href="{% url 'api:remove' friend.friend.pk %}">Remove from friends</a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
